.align-right {
    text-align: right;
}

.iframe_wrapper {
    display: block;
    height: 1200px;
}

#main_iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0px;

    display: none;
}